module {{.PackageName}}

go 1.23

require (
	github.com/gorilla/mux v1.8.1
	github.com/joho/godotenv v1.5.1
	{{- if eq .Database "mongodb" }}
	go.mongodb.org/mongo-driver v1.16.0
	{{- end }}
	{{- if eq .Database "postgresql" }}
	github.com/lib/pq v1.10.9
	{{- end }}
)